*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav{
  width: 100%;
  height: 40px;
  background-color: darkorange;
  position: fixed;
  z-index: 50;
  display: flex;
  align-items: center;
}
main{
  padding: 40px 30px;
}
p{
  margin: 20px 0px;
}
.burger_btn{
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.2s;
}
.burger_btn:before{
  content: "";
  position: absolute;
  top: 2px;
  width: 100%;
  background-color: black;
  height: 3px;
  transition: 0.2s;
}
.burger_btn:after{
  content: "";
  position: absolute;
  bottom: 2px;
  width: 100%;
  background-color: black;
  height: 3px;
  transition: 0.2s;
}
.burger_btn > span{
  position: absolute;
  top: 14px;
  width: 100%;
  background-color: black;
  height: 3px;
  transition: 0.2s;
}

.burger_btn:hover::before,
.burger_btn:hover::after,
.burger_btn:hover > span
{
  background-color: cadetblue;
  transform: scale(0.95);
}